@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Merriweather:wght@900&display=swap');



:root{
    --main-color:#A06235;
    --bg:#141313;
    --white:#efefef;
    --lightblack:#1d1d1d;
    --heading:#f3a446;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:.8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background:#ffff;
    border-radius: .5rem;
}
body{
    background: var(--bg);
}
section{
    padding:2rem 7%;
}
.heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom:3.5rem;
    font-size: 4.5rem;
  
}
.heading span{
    color: white;
    text-transform: uppercase;
}
.btn
{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--main-color);
    color:#fff;
    cursor: pointer;
}
.btn:hover{
    letter-spacing:.2rem;
}
.header
{
    background:linear-gradient(to right,var(--lightblack),var(--bg));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom:var(--border);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
      margin:0 1rem;
      font-size: 1.6rem;
      color:#efefef;
}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    margin-left:2rem;
    font-size: 2.5rem;
    color:#efefef;
    cursor: pointer;
}
.header .icons div:hover{
    color:var(--main-color);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top:115%; 
    right:7%;
    background: #fff;
    width:50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
   transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size:1.6rem;
    color:var(--bg);
    padding:1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;

}
.header .search-form label:hover{
   color:var(--main-color);

}
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right:-100%;
    height:calc(100vh - 9.5rem);
    width:35rem;
    background: white;
    padding: 0 1.5rem;

}
.header .cart-items-container.active{
    right:0;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
position: absolute;
top:1.2rem;
right: 1rem;
font-size: 2rem;
cursor: pointer;
color: var(--bg);
}
.header .cart-items-container .cart-item .fa-times:hover{
  color:var(--main-color);
}
.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item h3{
    font-size:1.5rem;
    padding-bottom: .5rem;
    color:var(--bg);
}
.header .cart-items-container .cart-item .price{
    font-size:1.5rem;
    color:var(--main-color);
}
.header .cart-items-container .btn{
    width:100%;
    text-align: center;
}
.home
{
    min-height:100vh;
    display: flex;
    align-items: center;
    background: url(bg.png);
    background-size: cover;
    background-position: center;
}
.home .content{
max-width: 60rem;
}
.home .content h3{
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    }
.home .content p{
    font-size: 1.2rem;
    text-transform: none;
    line-height: 1.8;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.about .row
{
    display: flex;
    align-items: center;
    background:linear-gradient(to right,var(--main-color),var(--lightblack));
    flex-wrap: wrap;
    flex-direction: row-reverse;

}
.about .row .image
{
    flex:1 1 45rem;
}
.about .row .image img
{
  width: 100%;
}
.about .row .content
{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content p
{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
 
}
.about .row .content h4
{
    font-size: 1.5rem;
    color:var(--heading);
    padding: 1rem 0;
    line-height: 1.8;
    
}
.about .row .icons
{

    font-size: 1.5rem;
    color:var(--heading);
    padding: 1rem 0;
   left:2rem;

}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    
}
.menu .box-container .box{
   padding:5rem;
   text-align: center;
   background: var(--lightblack);
   border:1.5rem solid var(--bg);
}
.menu .box-container .box img{
   height:14rem;
}
.menu .box-container .box h3{
    color:white;
    font-size:2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: white;
    font-size:2rem;
    padding: .5rem 0;
    
}
.menu .box-container .box:hover{
    background-color: var(--heading);
}
.menu .box-container .box:hover > *{
   
        color:var(--bg);
    
}
.products .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    
}
.products .box-container .box{
   padding:2rem;
   text-align: center;
   background: var(--lightblack);
   border:1.5rem solid var(--bg);
}
.products .box-container .box .icons a{
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: white;
    margin:.3rem;
    padding-bottom: 2.5rem;
}
.products .box-container .box .icons a:hover{
    background: var(--main-color);
}
.products .box-container .box .image{
   padding: 2.5rem 0;

}
.products .box-container .box img{
    height:14rem;
 }
 .products .box-container .box .content h3{
     color:white;
     font-size:2rem;
     padding: 1rem 0;
 }
 .products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--main-color);
}
.products .box-container .box .content .price {
    color:white;
    font-size: 2rem;
}
.review .box-container
{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    
}
.review .box-container .box{
    
        padding:2rem;
        text-align: center;
        background: var(--lightblack);
        border:1.5rem solid var(--bg);
}
.review .box-container .box p{
    font-size: 1.6rem;
    line-height:2;
    color:white;
    padding: 2rem 0;
}
.review .box-container .box .stars{
    padding: 1.5rem;
}
.review .box-container .box  .stars i{
  font-size:1.7rem;
  color:var(--main-color);
}
.review .box-container .box .user{
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    color:var(--main-color);
    font-size: 2rem;

}
.contacts .row{
    display: flex;

    background:var(--bg);
    flex-wrap: wrap;
    gap:1rem;
}
.contacts .row .map{
   flex:1 1 45rem;
   width:100%;
   object-fit: cover;
}
.contacts .row form{
 flex:1 1 45rem;
 padding: 5rem 2rem;
 text-align: center;
}
.contacts .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:white;
}
.contacts .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border: var(--border);

}
.contacts .row form .inputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}
.contacts .row form .inputBox input{
    width:100%;
    padding:2rem;
    font-size:1.7rem;
    color: white;
    text-transform: none;
    background: none;
}
.footer{
    background: var(--bg);
    text-align: center;
}
.footer .share{
    padding:1rem 0;
}
.footer .share a{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2rem;
   color: white;
   border: var(--border);
   margin: 3rem;
   border-radius: 50%;
}
.footer .share a:hover{
    background-color:var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
   padding: 2rem 0;
   gap:1rem;
    
}
.footer .links a{
    padding: .7rem 2rem;
    color: white;
    border: var(--border);
     font-size: 2rem;

}
.footer .links a:hover{
    background: var(--main-color);
}
.footer .credit{
    font-size: 2rem;
    color: white;
    padding:2rem;
    font-weight: lighter;
}
@media (max-width:991px)
{
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width:768px)
{
   #menu-btn{
    display: inline-block;
   }
   .header .navbar{
    position: absolute;
    top: 100%;
    right:-100%;
    background: #ffff;
    width:30rem;
    height:calc(100vh - 9.5rem);
    }
   .header .navbar.active{
    right: 0;
   }
   .header .navbar a{
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
    color: black;
   }
   .header.search-form{
    width: 90%;
    right: 2rem;
   }
   .home{
    background-position: left;
    justify-content: center;
    text-align: center;
   }
   .home .content h3{
    font-size: 4.5rem;
}
.home .content p{
   font-size: 1.3rem;
}}
@media (max-width:450px)
{
    html{
        font-size: 50%;
    }
}

